*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    padding-top: 50px;
    
}

nav.navbar{
    background-color: #a8a615;
}

.navbar-brand{
    margin-left: 40px;
}

.navbar-nav{
    margin-left: 40px;
}

.expanded {
    padding-top: 170px; /* Adjust this value based on your navbar height */
    transition: padding-top 0.1s ease; /* Add a transition effect */
}
  
.saved-message {
    position: fixed;
    top: -50px;
    left: 0;
    width: 100%;
    background-color: green;
    color: white;
    padding: 10px;
    text-align: center;
    transition: top 0.5s ease-in-out;
    z-index: 9999;
}

#main{
    width:100%;
    min-height: 100vh;
    /* background-color: azure; */
    background-color: rgb(7, 40, 51);
    display:flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
    transition:0.3s ease;
    /* margin-top:50px; */
    
}

.note{
    width: 300px;
    height: 300px;
    background-color: rgb(94, 57, 8);
    margin: 20px;
}

.tool {
    width: 100%;
    background-color: black;
    color: azure;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .tool i {
    padding: 5px;
    cursor: pointer;
  }
  
  .note-counter {
    margin-right: auto;
  }
  

.note textarea{
    border: none;
    width: 100%;
    height: 100%;
    resize: none;
    font-size: 18px;
    padding-left: 7px;
    background-color: #595959;
    color:azure;
    
}

.note textarea:focus{
    border: 0;
    /* outline:0; */

}

#addBtn{
    /* position: fixed; */
    cursor: pointer;
    /* outline: 2px;
    padding: 5px;
    margin: 10px; */
    /* right:10px;
    top:10px; */
    /* border:0px; */
}